/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #33a784;
    background-color: #A3C9A8;
}

 .minor-section p {
    text-indent: 20px;
    margin-left: 10px;
    line-height: 1.5;
}

#output {
  margin-bottom: 10px;
  line-height: 1.5;
}

#output p {
  text-indent: initial;
}

#output ul {
  list-style: none;
}

#cadillac {
  margin-left: 10px;
  width: 500px;
  height: auto;
  border: solid 1px #078686;
  box-shadow: 4px 4px 10px rgba(37, 105, 126, 0.699);
}